<!DOCTYPE html>
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>h3acnvcallsWebService</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% endblock %}
<body>
    <div class="container">
        {% block content %}
        <div class="header">
            <div class="icon-left"></div>
            <div class="icon-center">                
                <a href="/"> 
                    <img src="../static/icons/home-icon.svg" alt="Home" class="home-icon">
                </a>
            </div>           
            <div class="icon-right">
                <a href="/"> 
                    <img src="../static/icons/help-icon.svg" alt="Help" class="help-icon">
                </a>
            </div>                                  
        </div>
        <h1>Welcome to the h3acnvcallsWebService</h1>
        <p>This tool allows you to query a database that stores structural variants in human genomes.</p>
        <div class="buttons">
            <button class="query-btn" onclick="window.location.href='/query-delly-cnv-table'">Query delly_cnv table</button>
            <button class="query-btn">Query variants table</button>
            <button class="query-btn">Query delly_cnv and variants tables</button>
        </div>
        {% endblock %}
    </div>
</body>
</html>
