{% extends "index.html" %}
{%block content%}
<div class="header">
    <div class="icon-left">
        <a href="/"> 
            <img src="../static/icons/back-arrow-icon.svg" alt="Back Arrow" class="help-icon">
        </a>           
    </div>
    <div class="icon-center">                
        <a href="/"> 
            <img src="../static/icons/home-icon.svg" alt="Home" class="home-icon">
        </a>
    </div>           
    <div class="icon-right">
        <a href="#" id="help-btn"> 
            <img src="../static/icons/help-icon.svg" alt="Help" class="help-icon">
        </a>
    </div>                                  
</div>
<div class="form-container">
    <form method="GET" class="forms" action="/query-delly-cnv-table-form-submit">
        <div class="form-group">
            {{ form.chromosome.label }} 
            {{ form.chromosome(style="text-align: center;") }}
        </div>
        <div class="form-group">
            {{ form.start_position.label }} 
            {{ form.start_position(style="text-align: center;") }}
        </div>
        <div class="form-group">
            {{ form.end_position.label }} 
            {{ form.end_position(style="text-align: center;") }}
        </div>
        <button type="submit" class="query-btn">Submit query</button>
    </form>
</div>

<div id="help-popup" class="help-popup">
    <button class="close-btn" id="close-btn">&times;</button>
    <h2>Help Information</h2>
    <p>Enter data for your query.</p>
    <p>The <em>Start position</em> and <em>End position</em> fields specify the regions on chromosomes that will be considered by the query.</p>
    <p>The results will have Copy number variants whose start positions are greater than <em>Start position</em> but whose end positions are less
        than <em>End position</em></p>
</div>
<div id="help-popup-overlay" class="help-popup-overlay"></div>
<script src="{{ url_for('static', filename='help-popup.js') }}"></script>
{%endblock%}

