{% extends "index.html" %}
{%block content%}
<div class="header">
    <div class="icon-left">
        <a href="/"> 
            <img src="../static/icons/back-arrow-icon.svg" alt="Back Arrow" class="help-icon">
        </a>           
    </div>
    <div class="icon-center">                
        <a href="/"> 
            <img src="../static/icons/home-icon.svg" alt="Home" class="home-icon">
        </a>
    </div>           
    <div class="icon-right">
        <a href="/"> 
            <img src="../static/icons/help-icon.svg" alt="Help" class="help-icon">
        </a>
    </div>                                  
</div>
<div class="form-container">
    <form method="GET" class="forms" action="/query-variants-table-form-submit">
        <div class="form-group">
            {{ form.chromosome.label }} 
            {{ form.chromosome(style="text-align: center;") }}
        </div>
        <div class="form-group">
            {{ form.start_position.label }} 
            {{ form.start_position(style="text-align: center;") }}
        </div>
        <div class="form-group">
            {{ form.end_position.label }} 
            {{ form.end_position(style="text-align: center;") }}
        </div>
        <div class="form-group">
            {{ form.type.label }} 
            {{ form.type(style="text-align: center;") }}
        </div>
        <div class="form-group">
            {{ form.classifier.label }} 
            {{ form.classifier(style="text-align: center;") }}
        </div>

        <button type="submit" class="query-btn">Submit query</button>
    </form>
</div>
{%endblock%}
