{% extends "index.html" %}
{% block content %}

<div class="header">
    <div class="icon-left">
        <a href="/"> 
            <img src="../static/icons/back-arrow-icon.svg" alt="Back Arrow" class="help-icon">
        </a>           
    </div>
    <div class="icon-center">                
        <a href="/"> 
            <img src="../static/icons/home-icon.svg" alt="Home" class="home-icon">
        </a>
    </div>           
    <div class="icon-right">
        <a href="/"> 
            <img src="../static/icons/help-icon.svg" alt="Help" class="help-icon">
        </a>
    </div>                                  
</div>

<div class="results-container">
    <table>
        <thead>
            <tr>
                <th>Chromosome</th>
                <th>Start Position</th>
                <th>End Position</th>
                <th>CN0</th>
                <th>CN1</th>
                <th>CN2</th>
                <th>CN3</th>
                <th>CN4</th>
                <th>CN5</th>
                <th>CN6</th>
                <th>CN7plus</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row['chrom'] }}</td>
                <td>{{ row['start'] }}</td>
                <td>{{ row['end'] }}</td>
                <td>{{ row['cn0'] }}</td>               
                <td>{{ row['cn1'] }}</td>
                <td>{{ row['cn2'] }}</td>
                <td>{{ row['cn3'] }}</td>
                <td>{{ row['cn4'] }}</td>
                <td>{{ row['cn5'] }}</td>
                <td>{{ row['cn6'] }}</td>
                <td>{{ row['cn7plus'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('query_delly_cnv_table_form_submit', chromosome=form.chromosome.data, start_position=form.start_position.data, end_position=form.end_position.data, page=page-1) }}">&laquo; Previous</a>
        {% endif %}
        <span>Page {{ page }} of {{ total_pages }}</span>
        {% if page < total_pages %}
        <a href="{{ url_for('query_delly_cnv_table_form_submit', chromosome=form.chromosome.data, start_position=form.start_position.data, end_position=form.end_position.data, page=page+1) }}">Next &raquo;</a>
        {% endif %}
    </div>

</div>

{% endblock %}