{% extends "index.html" %}
{% block content %}

<div class="header">
    <div class="icon-left">
        <a href="/query-variants-table"> 
            <img src="../static/icons/back-arrow-icon.svg" alt="Back Arrow" class="help-icon">
        </a>           
    </div>
    <div class="icon-center">                
        <a href="/"> 
            <img src="../static/icons/home-icon.svg" alt="Home" class="home-icon">
        </a>
    </div>           
    <div class="icon-right">
        <a href="/"> 
            <img src="../static/icons/help-icon.svg" alt="Help" class="help-icon">
        </a>
    </div>                                  
</div>

<div class="results-container">
    <table>
        <thead>
            <tr>
                <th>Chromosome</th>
                <th>Start Position</th>
                <th>End Position</th>
                <th>Type</th>
                <th>AC</th>
                <th>AH</th>
                <th>Classifier</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row['chrom'] }}</td>
                <td>{{ row['start'] }}</td>
                <td>{{ row['end'] }}</td>
                <td>{{ row['type'] }}</td>               
                <td>{{ row['ac'] }}</td>
                <td>{{ row['ah'] }}</td>
                <td>{{ row['classifier'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p> </p>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('query_variants_table_form_submit', chromosome=form.chromosome.data, start_position=form.start_position.data, end_position=form.end_position.data, type=form.type.data, classifier=form.classifier.data, page=page-1) }}">&laquo; Previous</a>
        {% endif %}
        <span>Page {{ page }} of {{ total_pages }}</span>
        {% if page < total_pages %}
        <a href="{{ url_for('query_variants_table_form_submit', chromosome=form.chromosome.data, start_position=form.start_position.data, end_position=form.end_position.data, type=form.type.data, classifier=form.classifier.data, page=page+1) }}">Next &raquo;</a>
        {% endif %}
        <!-- <a href="{{ url_for('download_delly_cnv_query_results', chromosome=form.chromosome.data, start_position=form.start_position.data, end_position=form.end_position.data) }}">Download results as CSV</a> -->
    </div>
    <p> </p>
    <button type="button" class="query-btn" 
        onclick="window.location.href='{{ url_for('download_variants_query_results', chromosome=form.chromosome.data, start_position=form.start_position.data, end_position=form.end_position.data, type=form.type.data, classifier=form.classifier.data) }}'">
        Export results as CSV
    </button>

</div>


{% endblock %}